.GoodContainer {
    display: flex;
    background: rgb(255, 255, 255);
}

.Good {
    width: 100%;
    min-width: 200px;
    padding: 10px;
    display: flex;
    gap: 14px;
    flex-direction: column;
    justify-content: space-between;
}

.img {
    img {
        width: 100%;
        object-fit: cover;
    }
}

.title {
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    color: rgb(61, 98, 193);
}

.article {
    font-size: 14px;
}

.articleText {
    font-weight: bold;
}

.color {
    font-size: 14px;
}

.colorText {
    font-weight: bold;
}

.bottom {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.actions {
    display: flex;
    gap: 5px;
}

.cart,
.favorites {
    color: rgb(61, 98, 193);
    cursor: pointer;
    font-size: 20px;
}

.price {
    text-align: right;
    font-size: 18px;
    color: rgb(61, 98, 193);   
}

.modalAddCart {
    display: flex;
    font-weight: normal;
    gap: 10px;

    .title,
    .price {
        padding: 0;
        font-size: 14px;
        color: rgb(255, 255, 255);
    }
}