.HeaderContainer {
  width: 100%;
}

.Header {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px 20px;
  background: rgb(72, 116, 170);  
  color: rgb(255, 255, 255);  
}

.HeaderCart,
.HeaderFavorite {
  display: flex;
  gap: 5px;
  font-size: 30px;
}

