body {
    margin: 0 auto; 
    background: rgb(209, 218, 228);
}

h1 {
    margin: 0;
    padding: 15px;
    font-size: 16px;
}

p {
    margin: 10px 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}